body h1{
  font-family:Odibee Sans;
}
body{
  background:linear-gradient(cyan,blue);
  background-repeat:no-repeat;
  background-attachment:fixed;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}
.glass{
  width:300px;
  height:150px;
  background:rgba(255,255,255,0.2);
  text-align:center;
  border-radius:20px;
  padding:5px;
  backdrop-filter:blur(10px);
  border:1px solid rgba(255,255,255,0.5);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
